services:
  kibana:
    image: kibana:8.15.3
    container_name: kibana
    environment:
      ELASTICSEARCH_HOSTS: '["http://elasticsearch:9200"]'
      SERVER_HOST: 0.0.0.0
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
  elasticsearch:
    image: elasticsearch:8.15.3
    container_name: es-local
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
volumes:
  esdata:
